div.dokuwiki .newpagebox {
    position: relative;
    height:32px;
    font-size:110%;
    background:__background_alt__;
    width:auto;
    padding:8px 8px 7px 9px;
    margin:0 auto 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
div.dokuwiki .newpagebox .edit {
    height: 24px;
    font-size: 95%;
	padding: 2px 5px;
    float: left;
    width: 18em;
}
div.dokuwiki .newpagebox .button {
    float: left;
    margin-left: 6px;
}
div.dokuwiki .newpagebox .namespace {
    position: absolute;
    top: -20px;
    left: 10px;
    color: #ABADB3;
    font-size: 75%;
    background: none;
    border: 0;
}
