div.dokuwiki .newpagebox {
    float: left;
    font-size: 110%;
    height: 32px;
    margin: 0 auto;
    padding: 3px 145px 3px 0;
    position: relative;
    width: auto;
}
div.dokuwiki .newpagebox .edit {
    display: block;
    float: left;
    font-size: 90%;
    height: 24px;
	padding: 2px 5px;
    position: relative;
    width: 100%;
}
div.dokuwiki .newpagebox .button {
    font-size: 90%;
    height: 30px;
    margin: 0 8px;
    padding: 0 5px;
    position: absolute;
    right: 0;
    width: 117px;
}
div.dokuwiki .newpagebox .namespace {
    background: none;
    border: 0;
    color: #ABADB3;
    font-size: 75%;
    left: 10px;
    position: absolute;
    top: -20px;
}
