div.dokuwiki .newpagebox {
    background:__background_alt__;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: relative;
    font-size:110%;
    height:32px;
    margin:0 auto 3px;
    padding:8px 145px 7px 9px;
    width:auto;
}
div.dokuwiki .newpagebox .edit {
    display: block;
    float: left;
    font-size: 95%;
    height: 25px;
	padding: 2px 5px;
    position: relative;
    width: 100%;
}
div.dokuwiki .newpagebox .button {
    margin: 0 8px;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    width: 117px;
}
div.dokuwiki .newpagebox .namespace {
    background: none;
    border: 0;
    color: #ABADB3;
    font-size: 75%;
    left: 10px;
    position: absolute;
    top: -20px;
}
